<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>ec</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- 提交事务、关闭SqlSession的过滤器要放到Struts的过滤器之前 -->
	<filter>
		<filter-name>CommitAndCloseSqlSessionFilter</filter-name>
		<filter-class>org.fkjava.ec.commons.filter.CommitAndCloseSqlSessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CommitAndCloseSqlSessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>ValidateCodeFilter</filter-name>
		<filter-class>org.fkjava.ec.commons.filter.ValidateCodeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ValidateCodeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 配置以后，需要在类路径中增加struts.xml文件 -->
	<filter>
		<filter-name>struts</filter-name>
		<filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts</filter-name>
		<url-pattern>*.action</url-pattern>
		<!-- 默认仅拦截REQUEST -->
		<dispatcher>REQUEST</dispatcher>
		<!-- 如果想要拦截其他的请求，比如include转发过来的请求，那么就需要在后面继续加上！ -->
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<!-- <dispatcher>ERROR</dispatcher> -->
	</filter-mapping>

	<jsp-config>
		<!-- 下面整个jsp-property-group的作用：每个JSP文件，都会预先包含一个jsp，用于实现统一的设置、配置 -->
		<jsp-property-group>
			<!-- 拦截所有的jsp进行预处理 -->
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/views/include.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>
</web-app>